@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 255, 204, 255; /* Light mode (white) */
	--foreground: 23, 23, 23; /* Dark text */
}

.dark {
	--background: 0, 0, 0; /* Dark mode (black) */
	--foreground: 255, 0, 0; /* Light text */
}

body {
	background: rgb(var(--background));
	color: rgb(var(--foreground));
	transition:
		background 0.3s ease,
		color 0.3s ease;
}
